<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.filters.shades">

   <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="face"/>

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.Camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/shades_c"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>
            <activity
                android:name=".CameraActivity"
                android:screenOrientation="portrait">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
            <activity
                android:name=".HomepageActivity" android:screenOrientation="portrait"
                android:noHistory="true">

            </activity>
        <provider android:authorities="com.facebook.app.FacebookContentProvider577732609227898"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
    </application>

</manifest>